@import url('https://fonts.googleapis.com/css?family=Rubik:400,700&display=swap');

#navbar{
  color:#41444a;
  
}

#navbar .navbar-brand{
  color:aliceblue;
  margin-left: 60px;
  font-size:30px;
  font-family: 'Rubik', sans-serif;
}

#navbar nav{
  float: right;
  margin-top: 10px;
} 

#navbar .highlight, #navbar .current a {
  color: #32a0c2;
  font-weight: bold;
}

#navbar a:hover{
  color: #cccccc;
  font-weight: bold;
}

#navbar li{
   float: left; 
  display: inline;
  padding: 0 20px 0 20px;
}

